/* -------------------------------------------------------------------------- */
/*                             Design Item styles                             */
/* -------------------------------------------------------------------------- */
:root {
	--nfd-wba-design-item--template-height: 500px;
}

.nfd-wba-design-item {
	&:focus-visible {
		outline: 2px solid var(--nfd-wba-color-brand);
		outline-offset: 2px;
	}
}

.nfd-wba-design-item--template {
	.block-editor-block-preview__container {
		height: var(--nfd-wba-design-item--template-height);
	}

	.block-editor-block-preview__container:before {
		transition: backdrop-filter var(--nfd-wba-transition-duration)
			var(--nfd-wba-transition-timing);
	}

	&.nfd-wba-inserting-design .block-editor-block-preview__container:before {
		content: "";
		position: absolute;
		inset: 0;
		backdrop-filter: grayscale(1);
		z-index: 1;
	}

	iframe {
		--offset: calc(500px / var(--nfd-wba-design-item--scale));
		--transition-duration: calc(
			var(--nfd-wba-design-item--scroll-duration, 0s) / 2
		);
		--nfd-wba-translate-offset: calc(-100% + var(--offset));

		--hover-transition-duration: var(
			--nfd-wba-design-item--scroll-duration,
			0s
		);

		transition: transform var(--transition-duration, 0s) !important;
	}

	&:hover {
		iframe {
			transition: transform var(--hover-transition-duration, 0s) !important;
			transform: translateY(var(--nfd-wba-translate-offset));
		}
	}
}
