/* -------------------------------------------------------------------------- */
/*                              List item styles.                             */
/* -------------------------------------------------------------------------- */
@use "../_mixins" as m;

.nfd-wba-list-elements {
	@include m.responsive(small) {
		display: none;
	}
}

.nfd-wba-list-elements--is-filtered {
	.nfd-wba-list-element {
		&.nfd-wba--is-active {
			color: currentColor;
			font-weight: inherit;

			&:before {
				transform: scaleX(0);
			}
		}
	}
}

.nfd-wba-list-element {
	&:before {
		background-color: var(--nfd-wba-color-brand);
		bottom: 7px;
		content: "";
		display: block;
		left: 0;
		position: absolute;
		top: 7px;
		transform-origin: left;
		transform: scaleX(0);
		width: 3px;
	}

	&:hover {
		&:before {
			transform: scaleX(1);
		}

		.nfd-wba-list-element__count {
			@apply nfd-wba-bg-gray-200;
		}
	}

	&.nfd-wba--is-active {
		&:before {
			transform: scaleX(1);
		}
	}

	&.nfd-wba-list-element--favorites {
		&:after {
			content: "";
			background-color: var(--nfd-wba-color-borders);
			height: 1px;
			left: 1.5rem;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
