/* -------------------------------------------------------------------------- */
/*                              List item styles.                             */
/* -------------------------------------------------------------------------- */
.nfd-wba-list-element {
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 5px;
		bottom: 5px;
		left: 0;
		width: 3px;
		transform-origin: left;
		transform: scaleX(0);
		background-color: var(--nfd-wba-color-brand);
		transition: transform var(--nfd-wba-transition-duration)
			var(--nfd-wba-transition-timing);
	}

	&.nfd-wba--is-active {
		&:before {
			transform: scaleX(1);
		}
	}
}
