/* -------------------------------------------------------------------------- */
/*                              Tab panel styles.                             */
/* -------------------------------------------------------------------------- */
.nfd-wba-tab-panel {
	.components-tab-panel__tabs {
		display: flex;
		border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	}

	.components-tab-panel__tabs-item {
		flex-grow: 1;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: -1px;
		color: currentColor;

		&:first-child {
			padding-left: 24px;
		}

		&.nfd-wba--is-active {
			color: var(--nfd-wba-color-dark);
			box-shadow: inset 0 -3px var(--wp-admin-theme-color);
		}

		&:not(.nfd-wba--is-active):focus {
			box-shadow: none;
			outline: none;
		}
	}
}
