/**
 * CSS based slider styles
 */

:where(:root) {
	--wndb--slider-height: 100lvh;
}

.nfd-scroll-slider {
	flex-wrap: nowrap;
	height: var(--wndb--slider-height);
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.nfd-scroll-slider::-webkit-scrollbar {
	display: none;
}

.nfd-scroll-slider > * {
	scroll-snap-align: start;
}
