:where(:root) {
	--wndb--max-w--prose: min(65ch, 700px);
}

.nfd-max-w-prose {
	max-width: var(--wndb--max-w--prose);
}

:where(.nfd-text-balance) {
	text-wrap: balance;
	max-width: var(--wndb--max-w--prose);
}

.nfd-text-balance > p {
	text-wrap: balance;
}

.nfd-text-pretty {
	text-wrap: pretty;
}

.nfd-text-pretty > p {
	text-wrap: pretty;
}
