:where(:root) {
	/**
    * Default gap scale factor
    */
	--wndb--gap--scale-factor: 1;

	/**
    * Scale
    */
	--wndb--gap--xs: 0.25rem;
	--wndb--gap--sm: 0.5rem;
	--wndb--gap--md: 1rem;
	--wndb--gap--lg: 1.5rem;
	--wndb--gap--xl: 2rem;
	--wndb--gap--2xl: 2.5rem;
}

/* No Gap */
.wndb-gap-0,
.editor-styles-wrapper .wndb-gap-0 {
	/* no important */
	gap: 0;
}

/* Extra Small */
.wndb-gap-xs,
.editor-styles-wrapper .wndb-gap-xs {
	/* no important */
	gap: calc(var(--wndb--gap--xs) * var(--wndb--gap--scale-factor));
}

/* Small */
.wndb-gap-sm,
.editor-styles-wrapper .wndb-gap-sm {
	/* no important */
	gap: calc(var(--wndb--gap--sm) * var(--wndb--gap--scale-factor));
}

/* Medium */
.wndb-gap-md,
.editor-styles-wrapper .wndb-gap-md {
	/* no important */
	gap: calc(var(--wndb--gap--md) * var(--wndb--gap--scale-factor));
}

/* Large */
.wndb-gap-lg,
.editor-styles-wrapper .wndb-gap-lg {
	/* no important */
	gap: calc(var(--wndb--gap--lg) * var(--wndb--gap--scale-factor));
}

/* Extra Large */
.wndb-gap-xl,
.editor-styles-wrapper .wndb-gap-xl {
	/* no important */
	gap: calc(var(--wndb--gap--xl) * var(--wndb--gap--scale-factor));
}

/* 2 Extra Large */
.wndb-gap-2xl,
.editor-styles-wrapper .wndb-gap-2xl {
	/* no important */
	gap: calc(var(--wndb--gap--2xl) * var(--wndb--gap--scale-factor));
}

.wndb-gap-y-2xl,
.editor-styles-wrapper .wndb-gap-y-2xl {
	/* no important */
	row-gap: calc(var(--wndb--gap--2xl) * var(--wndb--gap--scale-factor));
}
