/**
* Padding specific utilities
*/

:where(:root) {
	/**
    * Default spacing scale factor
    */
	--wndb--padding-factor: 1;

	/*
    * Default padding base
    */
	--wndb--p: 2.375rem;

	/**
    * xs
    */
	--wndb--p--xs: 0.75rem;

	/**
    * sm
    */
	--wndb--p--sm: 1.5rem;

	/**
    * md
    */
	--wndb--p--md: 2rem;

	/**
    * lg
    */
	--wndb--p--lg: clamp(2.82rem, 7vw, 6.25rem);
}

/* ---------------------------------- Card ---------------------------------- */
.nfd-p-card-sm {
	padding: calc(var(--wndb--p--xs) * var(--wndb--padding-factor)) calc(var(--wndb--p--sm) * var(--wndb--padding-factor));
}

.nfd-p-card-md {
	padding: calc(var(--wndb--p--sm) * var(--wndb--padding-factor)) calc(var(--wndb--p--md) * var(--wndb--padding-factor));
}

.nfd-p-card-lg {
	padding: calc(var(--wndb--p--sm) * var(--wndb--padding-factor)) calc(var(--wndb--p--md) * var(--wndb--padding-factor));
}

@media screen and (min-width: 782px) {
	.nfd-p-card-lg {
		padding: calc(var(--wndb--p--md) * var(--wndb--padding-factor)) calc(10% * var(--wndb--padding-factor));
	}
}

/* --------------------------------- XSmall --------------------------------- */
.nfd-p-xs {
	padding: calc(var(--wndb--p--xs) * var(--wndb--padding-factor));
}

.nfd-py-xs {
	padding-block: calc(var(--wndb--p--xs) * var(--wndb--padding-factor));
}

.nfd-pt-xs {
	padding-block-start: calc(var(--wndb--p--xs) * var(--wndb--padding-factor));
}

.nfd-px-xs {
	padding-inline: calc(var(--wndb--p--xs) * var(--wndb--padding-factor));
}

/* ---------------------------------- Small --------------------------------- */
.nfd-p-sm {
	padding: calc(var(--wndb--p--sm) * var(--wndb--padding-factor));
}

.nfd-px-sm {
	padding-inline: calc(var(--wndb--p--sm) * var(--wndb--padding-factor));
}

.nfd-py-sm {
	padding-block: calc(var(--wndb--p--sm) * var(--wndb--padding-factor));
}

.nfd-pt-sm {
	padding-block-start: calc(var(--wndb--p--sm) * var(--wndb--padding-factor));
}

.nfd-pb-sm {
	padding-block-end: calc(var(--wndb--p--sm) * var(--wndb--padding-factor));
}

.nfd-pl-sm {
	padding-left: calc(var(--wndb--p--sm) * var(--wndb--padding-factor));
}

/* --------------------------------- Medium --------------------------------- */
.nfd-p-md {
	padding: calc(var(--wndb--p--md) * var(--wndb--padding-factor));
}

.nfd-px-md {
	padding-inline: calc(var(--wndb--p--md) * var(--wndb--padding-factor));
}

.nfd-py-md {
	padding-block: calc(var(--wndb--p--md) * var(--wndb--padding-factor));
}

.nfd-pt-md {
	padding-block: calc(var(--wndb--p--md) * var(--wndb--padding-factor));
}

.nfd-pb-md {
	padding-block: calc(var(--wndb--p--md) * var(--wndb--padding-factor));
}

/* ---------------------------------- Large --------------------------------- */
.nfd-p-lg {
	padding: calc(var(--wndb--p--lg) * var(--wndb--padding-factor)) calc(var(--wndb--p--md) * var(--wndb--padding-factor));
}

/* --------------------------------- Offset --------------------------------- */
.nfd-pl-offset-md {
	padding-left: calc(var(--wndb--p--md) * var(--wndb--padding-factor) - 3px);
	margin-left: calc(var(--wndb--p--md) * var(--wndb--padding-factor) * -1);
}
