/* -------------------------------------------------------------------------- */
/*                                Form styles.                                */
/* -------------------------------------------------------------------------- */

.components-search-control {
	&.nfd-wba-keyword-filter {
		.components-base-control__field {
			align-items: center;
			display: flex;
			gap: 12px;
			margin: 0;

			.components-base-control__label {
				margin: 0;
				text-transform: none;
				font-size: 14px;
				line-height: 20px;
				font-weight: 500;
			}
		}

		input[type="search"].components-search-control__input {
			border-radius: 8px;
			font-size: 16px;
			height: 36px;
			line-height: 20px;

			&:disabled {
				cursor: wait;
				opacity: 1;
			}
		}
	}
}
