/* -------------------------------------------------------------------------- */
/*                                Form styles.                                */
/* -------------------------------------------------------------------------- */
.nfd-wba-keyword-filter {
	.components-base-control__field {
		margin: 0;
	}

	.components-search-control__input {
		height: 40px !important;

		&:disabled {
			cursor: wait;
			opacity: 0.8;

			& + .components-search-control__icon {
				opacity: 0.8;
			}
		}
	}
}
