@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.nfd-patterns-library__modal {
		& > .components-modal__content {
			@apply nfd-grid nfd-p-0 before:nfd-hidden;
		}

		.nfd-search-component .components-search-control__input {
			background-color: #f3f4f6 !important;

			&:focus {
				background-color: #ffffff !important;
			}
		}

		.nfd-tab-panel {
			.components-tab-panel__tabs {
				@apply nfd-border-0 nfd-border-b nfd-border-solid nfd-border-gray-200;
			}

			.components-tab-panel__tabs-item {
				@apply nfd-flex-1 nfd-border-0 nfd-pr-2 first:nfd-pl-6 focus:nfd-shadow-none focus:nfd-outline-none;
				margin-bottom: -1px;

				&.nfd-is-active:focus-visible {
					box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus)
							var(--wp-admin-theme-color),
						inset 0 -4px 0 0 var(--wp-admin-theme-color) !important;
				}
			}

			.nfd-is-active {
				box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus)
						transparent,
					inset 0 -4px 0 0 var(--wp-admin-theme-color) !important;
			}
		}
	}
}
