.nfd-my-0:not([style*="margin"]) {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.nfd-p-5:not([style*="padding"]) {
	padding: 1.25rem !important;
}
.nfd-px-4:not([style*="padding"]) {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
/* prettier-ignore */
:root {
	/* Typography */
	--nfd-cp-text-sm--default: clamp(0.8125rem, 0.7734rem + 0.1250vw, 0.875rem) !important; /* 13px - 14px */
    --nfd-cp-text-base--default: clamp(0.875rem, 0.8359rem + 0.1250vw, 0.9375rem) !important; /* 14px - 15px */
	--nfd-cp-text-md--default: clamp(1rem, 0.9219rem + 0.25vw, 1.125rem) !important; /* 16px - 18px */
	--nfd-cp-text-huge--default: clamp(2.25rem, 1.4688rem + 2.5000vw, 3.5rem) !important; /* 32px - 52px */
	
	/* Spacing */
	--nfd-cp-spacing-lg: clamp(2rem, 7vw, 6.25rem) !important;
}
/* -------------------------------------------------------------------------- */
/*                                 Font sizes¸                                */
/* -------------------------------------------------------------------------- */
/* Small */
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-sm, var(--nfd-cp-text-sm--default)) !important;
}
.nfd-text-sm:not([style*="letter-spacing"]) {
	letter-spacing: 0.05em !important;
}
.nfd-text-sm:not([style*="font-weight"]) {
	font-weight: 500 !important;
}
/* Base */
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-base, var(--nfd-cp-text-base--default)) !important;
}
/* prettier-ignore */
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) .wp-block-button:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) .wp-block-button:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link {
	font-size: inherit !important;
}
/* Medium */
.nfd-text-md:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-md, var(--nfd-cp-text-md--default)) !important;
}
/* Huge */
.nfd-text-huge:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-huge, var(--nfd-cp-text-huge--default)) !important;
}
.nfd-text-huge:not([style*="line-height"]) {
	line-height: 1.2 !important;
}
.nfd-text-huge:not([style*="letter-spacing"]) {
	letter-spacing: -0.02em !important;
}
.nfd-text-huge:not([style*="font-weight"]) {
	font-weight: 500 !important;
}
/* -------------------------------------------------------------------------- */
/*                                 Font weight                                */
/* -------------------------------------------------------------------------- */
.nfd-weight-inherit:not([style*="font-weight"]),
.nfd-weight-inherit .wp-block-button__link {
	font-weight: inherit !important;
}
/* -------------------------------------------------------------------------- */
/*                                   Spacing                                  */
/* -------------------------------------------------------------------------- */
/* Gap */
.nfd-normalize-gap {
	--wp--style--block-gap: var(--nfd-cp-gap-y, 0px) !important;
	--global--spacing-vertical: var(--nfd-cp-gap-y, 0px) !important;
}
/* Padding */
.nfd-p-lg:not([style*="padding"]):not([style*="padding"]) {
	padding: var(--nfd-cp-spacing-lg) !important;
}
.nfd-py-lg:not([style*="padding"]):not([style*="padding"]) {
	padding-top: var(--nfd-cp-spacing-lg) !important;
	padding-bottom: var(--nfd-cp-spacing-lg) !important;
}
/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
.nfd-bg-accent:not([class*="background-color"]),
.nfd-bg-accent:not([class*="background-color"])
	.wp-block-cover__background:not([class*="background-color"]) {
	background-color: var(--nfd-cp-bg-accent, #000) !important;
}
.nfd-bg-gray-100:not([class*="background-color"]) {
	background-color: var(--nfd-cp-bg-gray-100, #f3f4f6) !important;
}
.nfd-border-accent:not([class*="border-color"]) {
	border-color: var(--nfd-cp-border-accent, #000) !important;
}
.nfd-text-secondary:not([class*="has-text-color"]) {
	color: var(--nfd-cp-text-secondary, #fcb900) !important;
}
@media (max-width: 782px) {
	.md\:nfd-order-2 {
		order: 2 !important;
	}
	.md\:nfd-hidden {
		display: none !important;
	}
}
