/**
 * Predefined delay utilities.
 */

.nfd-delay-50 {
	--wndb--anim-transition-delay: 50ms;
}

.nfd-delay-150 {
	--wndb--anim-transition-delay: 150ms;
}

.nfd-delay-300 {
	--wndb--anim-transition-delay: 300ms;
}

.nfd-delay-450 {
	--wndb--anim-transition-delay: 450ms;
}

.nfd-delay-600 {
	--wndb--anim-transition-delay: 600ms;
}

.nfd-delay-750 {
	--wndb--anim-transition-delay: 750ms;
}

.nfd-delay-900 {
	--wndb--anim-transition-delay: 900ms;
}

.nfd-delay-1050 {
	--wndb--anim-transition-delay: 1050ms;
}

.nfd-delay-1200 {
	--wndb--anim-transition-delay: 1200ms;
}

.nfd-delay-1350 {
	--wndb--anim-transition-delay: 1350ms;
}

.nfd-delay-1500 {
	--wndb--anim-transition-delay: 1500ms;
}
