/**
 * "Fade in" animations.
 */

[class*="nfd-wb-fade-in"] {
	/* no important */
	--wndb--anim-transition: opacity var(--wndb--anim-transition-duration) var(--wndb--anim-transition-easing-function) var(--wndb--anim-transition-delay),
		transform var(--wndb--anim-transition-duration) var(--wndb--anim-transition-easing-function) var(--wndb--anim-transition-delay);
	transition: var(--wndb--anim-transition);
	opacity: 0;
}

.nfd-wb-fade-in-bottom-short {
	/* no important */
	--wndb--anim-transition-duration: 600ms;
	transform-origin: center bottom;
	transform: translate3d(0, 32px, 0) scale3d(0.96, 0.96, 0.96);
	transition: var(--wndb--anim-transition);
}

.nfd-wb-fade-in-bottom {
	/* no important */
	--wndb--anim-transition-duration: 1200ms;
	transform-origin: center bottom;
	transform: translate3d(0, 90px, 0);
	transition: var(--wndb--anim-transition);
}

.nfd-wb-fade-in-top-short {
	/* no important */
	--wndb--anim-transition-duration: 600ms;
	transform-origin: center top;
	transform: translate3d(0, -32px, 0) scale3d(0.96, 0.96, 0.96);
	transition: var(--wndb--anim-transition);
}

.nfd-wb-fade-in-left-short {
	/* no important */
	--wndb--transition-duration: 600ms;
	transform-origin: center left;
	transform: translate3d(-32px, 0, 0) scale3d(0.96, 0.96, 0.96);
	transition: var(--wndb--anim-transition);
}

.nfd-wb-fade-in-right-short {
	/* no important */
	--wndb--anim-transition-duration: 600ms;
	transform-origin: right center;
	transform: translate3d(32px, 0, 0) scale3d(0.96, 0.96, 0.96);
	transition: var(--nfd-wb-anim-transition);
}

/* Run the animation */
.nfd-wb-animated-in:not([data-replay-animation])[class*="nfd-wb-fade-in"] {
	/* no important */
	opacity: 1;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}
