/**
 * "Twist in" animations.
 */

div:has(> .nfd-wb-twist-in) {
	/* no important */
	perspective: 1200px;
}

.nfd-wb-twist-in {
	/* no important */
	--wndb--anim-transition-duration: 1000ms;
	--wndb--anim-transition: opacity var(--wndb--anim-transition-duration) var(--wndb--anim-transition-easing-function) var(--wndb--anim-transition-delay),
		transform var(--wndb--anim-transition-duration) var(--wndb--anim-transition-easing-function) var(--wndb--anim-transition-delay);
	opacity: 0;
	transform: translateY(40px) scale(0.8) rotateY(30deg) rotateZ(-12deg) translateZ(0);
	transition: var(--wndb--anim-transition);
}

/* Run the animation */
.nfd-wb-animated-in:not([data-replay-animation]).nfd-wb-twist-in {
	opacity: 1;
	transform: translateY(0px) scale(1) rotateY(0deg) rotateZ(0deg) translateZ(0);
}
