/* -------------------------------------------------------------------------- */
/*                            Block preview styles                            */
/* -------------------------------------------------------------------------- */
.block-editor-block-preview__content-iframe
	.is-root-container:has(div[class*="nfd-"]) {
	padding: 0;
}

.block-editor-block-preview__content-iframe
	.is-root-container
	> .nfd-container.has-white-background-color {
	padding: 0 !important;
}

.nfd-wba-modal * {
	box-sizing: border-box !important;
}
