/* -------------------------------------------------------------------------- */
/*                            Block preview styles                            */
/* -------------------------------------------------------------------------- */
.block-editor-block-preview__content-iframe .is-root-container {
	min-height: 120px;
}

.block-editor-block-preview__content-iframe
	.is-root-container:has(div[class*="nfd-"]) {
	padding: 0;
}

.block-editor-block-preview__content-iframe [style*="min-height: 100vh"],
.block-editor-block-preview__content-iframe [style*="min-height:100vh"] {
	min-height: 800px !important;
}

.block-editor-block-preview__content-iframe .nfd-stretch-cover-child {
	min-height: 800px !important;
}

.nfd-wba-modal * {
	box-sizing: border-box !important;
}
