/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */

/* Background */
.nfd-bg-accent:not(.has-background),
.nfd-bg-accent:not(.has-background)
	.wp-block-cover__background:not([class*="background-color"]):not([style*="background-color"]) {
	background-color: var(--nfd-cp-bg-accent, #000);
}

.nfd-bg-gray-100:not(.has-background) {
	background-color: var(--nfd-cp-bg-gray-100, #f3f4f6);
}

.nfd-bg-gray-800:not(.has-background) {
	background-color: var(--nfd-cp-bg-gray-800, #161a1d);
}

/* Border */
/* prettier-ignore */
.nfd-border-accent:not([class*="border-color"]):not([style*="border-top-color"]):not([style*="border-right-color"]):not([style*="border-bottom-color"]):not([style*="border-left-color"]),
.nfd-border-accent:not([class*="border-color"]) img:not([style*="border-top-color"]):not([style*="border-right-color"]):not([style*="border-bottom-color"]):not([style*="border-left-color"]) {
	border-color: var(--nfd-cp-border-accent, #000);
}

/* Text */
.nfd-text-primary:not(.has-text-color) {
	color: var(--nfd-cp-text-primary, #000000);
}

.nfd-text-secondary:not(.has-text-color) {
	color: var(--nfd-cp-text-secondary, #fcb900);
}

.nfd-text-current:not(.has-text-color) {
	color: currentColor;
}
