/**
* Colors
*
* These utility classes are meant to provide a consistent 
* basic color palette that can be overwritten with different themes.
*/

:where(:root) {
	--wndb--color--surface: hsla(240, 7%, 95%, 1);
	--wndb--color--surface--foreground: hsla(240, 7%, 18%, 1);

	--wndb--color--primary: hsla(240, 100%, 50%, 1);
}

/* Surface */
.wndb-bg-surface:not(.has-background) {
	background-color: var(--wndb--color--surface);
}

.wndb-bg-surface:not(.has-text-color) {
	color: var(--wndb--color--surface--foreground);
}

/* Primary */
.wndb-bg-primary:not(.has-background) {
	background-color: var(--wndb--color--primary);
}

.wndb-text-primary:not(.has-text-color),
.wp-block-button.wndb-text-primary > a:not(.has-text-color) {
	color: var(--wndb--color--primary);
}

/* Faded text */
.wndb-text-faded p:not(.has-text-color):not(.has-link-color):not(.has-background),
p.wndb-text-faded:not(.has-text-color):not(.has-link-color):not(.has-background),
.wndb-text-faded time:not(.has-text-color):not(.has-background) {
	opacity: 0.75;
}
