/* prettier-ignore */
:where(:root) { /* no important */
	/* Typography */
	--nfd-cp-text-sm: 0.875rem;
    --nfd-cp-text-base: 1rem;
	--nfd-cp-text-md: 1.125rem;
	--nfd-cp-text-lg: clamp(1.625rem, 1.546875rem + 0.25vw, 1.75rem); /* 26px - 28px */
    --nfd-cp-text-xl: clamp(1.75rem, 1.3594rem + 1.25vw, 2.375rem); /* 28px - 38px */
	--nfd-cp-text-huge: clamp(2.25rem, 1.4688rem + 2.5000vw, 3.5rem); /* 32px - 52px */
	--nfd-cp-text-giga: clamp(3.25rem, 2.546875rem + 2.25vw, 4.375rem); /* 52px - 70px */
	
	/* Spacing */
	--nfd-cp-spacing-x-lg: clamp(2rem, 7vw, 6.25rem);
	--nfd-cp-spacing-y-lg: clamp(4rem, 7vw, 6.25rem);
    --nfd-cp-spacing-x-md: clamp(2rem, 7vw, 3.5rem);
    --nfd-cp-spacing-y-md: clamp(3rem, 7vw, 3.5rem);
}
