/* -------------------------------------------------------------------------- */
/*                                 Form styles                                */
/* -------------------------------------------------------------------------- */

.nfd-form-items-grow > div {
	flex-grow: 1;
}

.nfd-jp-form textarea {
	resize: vertical;
}

.nfd-jp-form .wp-block-button__link {
	padding-block-start: 10px;
	padding-block-end: 10px;
}

.nfd-jp-form
	.jetpack-field-checkbox
	.jetpack-field-label
	.jetpack-field-label__input,
.nfd-jp-form
	.jetpack-field-consent
	.jetpack-field-label
	.jetpack-field-label__input,
.nfd-jp-form .consent {
	text-transform: none;
	line-height: 1.5em !important;
	font-size: 0.875rem !important;
	text-wrap: balance;
}

.nfd-jp-form input[type="checkbox"] {
	padding: 0;
}
