/* -------------------------------------------------------------------------- */
/*                                 Font sizes¸                                */
/* -------------------------------------------------------------------------- */

/* Small */
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-sm);
}

/* Base */
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-base);
}

/* prettier-ignore */
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) .wp-block-button:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) .wp-block-button:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link {
	font-size: inherit;
}

/* Medium */
.nfd-text-md:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-md);
}

.nfd-text-md:not([style*="line-height"]) {
	line-height: 1.6;
}

/* Large */
.nfd-text-lg:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-lg);
}

.nfd-text-lg:not([style*="line-height"]) {
	line-height: 1.2;
}

.nfd-text-lg:not([style*="letter-spacing"]) {
	letter-spacing: -0.01em;
}

.nfd-text-lg:not([style*="font-weight"]) {
	font-weight: 500;
}

/* Extra Large */
.nfd-text-xl:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-xl);
}

.nfd-text-xl:not([style*="line-height"]) {
	line-height: 1.2;
}

.nfd-text-xl:not([style*="letter-spacing"]) {
	letter-spacing: -0.01em;
}

.nfd-text-xl:not([style*="font-weight"]) {
	font-weight: 500;
}

/* Huge */
.nfd-text-huge:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-huge);
}

.nfd-text-huge:not([style*="line-height"]) {
	line-height: 1.125;
}

.nfd-text-huge:not([style*="letter-spacing"]) {
	letter-spacing: -0.025em;
}

.nfd-text-huge:not([style*="font-weight"]) {
	font-weight: 500;
}

/* Giga */
.nfd-text-giga:not([class="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-giga);
}

.nfd-text-giga:not([style*="line-height"]) {
	line-height: 1.1;
}

.nfd-text-giga:not([style*="letter-spacing"]) {
	letter-spacing: -0.03em;
}

.nfd-text-giga:not([style*="font-weight"]) {
	font-weight: 500;
}

/* -------------------------------------------------------------------------- */
/*                                 Font weight                                */
/* -------------------------------------------------------------------------- */

.nfd-weight-inherit:not([style*="font-weight"]),
.nfd-weight-inherit .wp-block-button__link {
	font-weight: inherit;
}

/* -------------------------------------------------------------------------- */
/*                  Override default font size in some themes                 */
/* -------------------------------------------------------------------------- */
.nfd-text-sm .wp-block-navigation,
.nfd-text-base .wp-block-navigation,
.nfd-text-md .wp-block-navigation,
.nfd-text-sm .wp-block-button__link,
.nfd-text-base .wp-block-button__link,
.nfd-text-md .wp-block-button__link {
	font-size: inherit;
}

.nfd-text-balance {
	text-wrap: balance;
}
