/* -------------------------------------------------------------------------- */
/*                                 Font sizes¸                                */
/* -------------------------------------------------------------------------- */

/* Small */
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-sm, var(--nfd-cp-text-sm--default));
}

.nfd-text-sm:not([style*="letter-spacing"]) {
	letter-spacing: 0.05em;
}

.nfd-text-sm:not([style*="font-weight"]) {
	font-weight: 500;
}

/* Base */
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-base, var(--nfd-cp-text-base--default));
}

/* prettier-ignore */
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) .wp-block-button:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-sm:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) .wp-block-button:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link,
.nfd-text-base:not([class*="font-size"]):not([style*="font-size"]) > .wp-block-button__link {
	font-size: inherit;
}

/* Medium */
.nfd-text-md:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-md, var(--nfd-cp-text-md--default));
}

/* Extra Large */
.nfd-text-xl:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-xl, var(--nfd-cp-text-xl--default));
}

.nfd-text-xl:not([style*="line-height"]) {
	line-height: 1.2;
}

.nfd-text-xl:not([style*="letter-spacing"]) {
	letter-spacing: -0.01em;
}

.nfd-text-xl:not([style*="font-weight"]) {
	font-weight: 500;
}

/* Huge */
.nfd-text-huge:not([class*="font-size"]):not([style*="font-size"]) {
	font-size: var(--nfd-cp-text-huge, var(--nfd-cp-text-huge--default));
}

.nfd-text-huge:not([style*="line-height"]) {
	line-height: 1.125;
}

.nfd-text-huge:not([style*="letter-spacing"]) {
	letter-spacing: -0.02em;
}

.nfd-text-huge:not([style*="font-weight"]) {
	font-weight: 500;
}

/* -------------------------------------------------------------------------- */
/*                                 Font weight                                */
/* -------------------------------------------------------------------------- */

.nfd-weight-inherit:not([style*="font-weight"]),
.nfd-weight-inherit .wp-block-button__link {
	font-weight: inherit;
}
