/**
* Border radius specific utilities
*/

:where(:root) {
	/**
    * Default border radius scale factor
    */
	--wndb--rounded--scale-factor: 1;

	/**
    * Border radius scale
    */
	--wndb--border--radius--sm: 0.25rem;
	--wndb--border--radius--md: 0.5rem;
	--wndb--border--radius--lg: 0.75rem;
	--wndb--border--radius--xl: 1rem;
}

.nfd-rounded-none {
	border-radius: 0;
}

.nfd-rounded-sm:not([style*='-radius']),
.nfd-rounded-sm:not([style*='-radius']) > img {
	border-radius: calc(var(--wndb--border--radius--sm) * var(--wndb--rounded--scale-factor));
}

.nfd-rounded:not([style*='-radius']),
.nfd-rounded:not([style*='-radius']) > img {
	border-radius: calc(var(--wndb--border--radius--md) * var(--wndb--rounded--scale-factor));
}

.nfd-rounded-lg:not([style*='-radius']),
.nfd-rounded-lg:not([style*='-radius']) > img {
	border-radius: calc(var(--wndb--border--radius--lg) * var(--wndb--rounded--scale-factor));
}

.nfd-rounded-xl:not([style*='-radius']),
.nfd-rounded-xl:not([style*='-radius']) > img {
	border-radius: calc(var(--wndb--border--radius--xl) * var(--wndb--rounded--scale-factor));
}

.nfd-rounded-full:not([style*='-radius']),
.nfd-rounded-full:not([style*='-radius']) > img {
	border-radius: calc(9999px * var(--wndb--rounded--scale-factor));
}
